# Adham Howaidy

### Programming Assignment 4

### CS150-01

### Computer Programming for the Liberal Arts

### Fall 2021

### Pyhton V3

In [1]:
lists=[35,23,2,68,34,68,56,15]
print(lists)

[35, 23, 2, 68, 34, 68, 56, 15]

In [2]:
lists.append(2)
print(lists)

[35, 23, 2, 68, 34, 68, 56, 15, 2]

When append() is used, it adds the number inside the bracket to the end of the list.

In [3]:
extendlist=25,12,29
lists.extend(extendlist)
print(lists)

[35, 23, 2, 68, 34, 68, 56, 15, 2, 25, 12, 29]

extend() adds another list to the end of a selected lsit.

In [4]:
lists.insert(8,5)
print(lists)

[35, 23, 2, 68, 34, 68, 56, 15, 5, 2, 25, 12, 29]

The insert() command adds the 2nd number to the 1st numbers position. For example, the "5" above was added to the 8th position.

In [5]:
lists.remove(5)
print(lists)

[35, 23, 2, 68, 34, 68, 56, 15, 2, 25, 12, 29]

The remove() command removes the selected value from the list.

In [6]:
lists.count(2)

2

The count() command tells the total number of the selected value.

In [7]:
lists.index(68)

3

index() tells the position of a certain value in a list.

In [10]:
lists.pop(3)
print(lists)

[35, 23, 2, 68, 56, 15, 2, 25, 12, 29]

pop() removes the value at the selected spot in a list

In [11]:
lists.sort()
print(lists)

[2, 2, 12, 15, 23, 25, 29, 35, 56, 68]

sort() organizes the list, in the case above, from lowest to highest.

In [12]:
newlist=lists.copy()
print(newlist)

[2, 2, 12, 15, 23, 25, 29, 35, 56, 68]

copy() makes a shallow copy of a list, this basically means that if you modify the original list, then newlist is also modified.

In [13]:
lists.clear()
print(lists)

[]

clear() clears the list of all values.

In [14]:
lists=[25,51,67,83,12,43]
print(any(lists))

True

any() finds if anything in the list is a iterable item is in the selected value

In [15]:
def myFunc(x):
    if x<18:
        return False
    else:
        return True
adults=filter(myFunc,lists)
for x in adults:
    print(x)

25
51
67
83
43

filter() returns a value where a filter is used to determine if a value is true or not.

In [16]:
vowels='aeiou'
print(list(vowels))

['a', 'e', 'i', 'o', 'u']

list() creates list out of already given values

In [17]:
cow_ages=[1,2,5,7,8,9,12,13]
def cow(x):
        if x>8:
            return x
list(filter(cow,cow_ages))

[9, 12, 13]

filter() filters out unwanted values from the list.

In [18]:
list(map(cow,cow_ages))

[None, None, None, None, None, 9, 12, 13]

map() keeps the values in place but replaces them with None to represent that they did not pass the filter

In [20]:
def cmp(a,b):
        if a>b:
            return 1
        elif b>a:
            return -1
        else:
            return 0
cmp(25,12)

1

The cmp() function compares two integers to see if a greater then statement it met, tied, or not met

In [22]:
melons=[8,0,0,8,5]
len(melons)

5

len() returns length of tuple

In [23]:
max(melons)

8

The max() command returns the highest number in the tuple

In [24]:
numbers=[25,50,75,66,11,3,34]
tuple_numbers=tuple(numbers)
tuple_numbers

(25, 50, 75, 66, 11, 3, 34)

tuple() turns a tuple into a list (parenthesis instead of brackets now)